.ocontaineroption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.oimg{
    width: 1rem;
    transform: translateX(6rem);
}

.otext{
    transform: translateX(8.7rem);
}