@font-face {
    font-family: 'Ligth';
    src: url("../../../../../Fuentes/DP_roobert/RoobertTRIAL-Light.otf") format("truetype");
 }

.otitleinvoices {
    margin-left: 3rem;
    font-family: "Ligth";
    font-weight: 300;
    font-size: 0.9em;
}