.ocontaineroption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.oimg{
    width: 0.5rem;
}

.oimgrocket{
    width: 1.3rem;
}