.ocontainerinvoices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
}

.oinvoice {
    margin-left: 2rem;
}

.oinvoiceValor{
    font-family: "SfMedium";
    font-size: 1.6rem;
    margin-top: 0;
    margin-right: 4rem;
    margin-bottom: 0;
}

.oinvoiceTitle{
    font-family: "Regular";
    color: #999999;
    font-size: 1.1rem;
}