.operfilsettingscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15rem;
    //transform: translateY(-2.1rem);
}

.ologo{
    width: 1.2rem;
    //transform: translateX(4rem);
}

.ologo2{
    width: 0.5rem;
    //transform: translateX(-1rem);
}


.operfilp{
    color: rgba(169, 167, 167, 1);
    font-family: 'Ligth';
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    //transform: translateX(2rem);
}
