.operfilsettingscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15rem;
    transform: translateY(-2.1rem);
}

.ologo{
    width: 1.2rem;
    transform: translateX(2.2rem);
}

.ologo2{
    width: 0.5rem;
    transform: translateX(-1rem);
}