.ooutstandingcontainerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 0;
}
.outbarracontainer{
    display: flex;
    width: 15rem;
    justify-content: center;
    align-content: center;
    height: 1.5rem;
    border-radius: 2px;
    margin-top: 0;
    margin-right: 1rem;
}
.outbarragris{
    width: 60%;
    background-color: #F6F6F6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.outbarranegra{
    width: 40%;
    background-color: #000000;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.outtotal{
    font-family: "SfMedium";
    font-size: 1.4rem;
    margin-top: 0;
    margin-right: 5rem;
    margin-bottom: 0;
    margin-left: 2rem;
}