.ocontainerrecenlytitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 1rem;
}
.otitle{
    font-family: 'SFMedium';
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.op{
    font-family: 'Ligth';
    margin-left: 1rem;
    color: #999999;
}
.orecentlylogos {
    display: flex;
    flex-direction: row;
    margin-left: 21rem;
}

.ologo{
    width: 1.2rem;
    margin-left: 2rem;
}