.ocontainerrecenlytitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.orecentlylogos {
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
    margin-right: 2rem;
}