.operfilcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.oimgperfil {
    width: 8rem;
}

.owelcomeperfil{
    font-family: 'Regular'; 
}

.onameperfil {
    font-family: 'Heavy';
    font-size: 1.5rem;
    margin-top: -0.2rem;
  
}


