.operfilcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.oimgperfil {
    width: 8rem;
}

.owelcomeperfil{
    font-family: "Regular"; 
}

.onameperfil {
    font-family: "Bold";
    margin-top: -0.5rem;
  
}


