.operfilcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.oimgperfil {
    width: 8rem;
}

.onameperfil {
    margin-top: -0.5rem;
    font-weight: 700;
}

