.ocardexpenses {
    position: relative;
    box-sizing: border-box;
    width: 231px;
    height: 253px;
    padding: 20px;
    border-radius: 20px;
    margin: 1rem;
    margin-top: 0;
    background:  rgba(229, 245, 250, 1);
}

.ocardexpenses svg {
    width: -webkit-fill-available;
    display: flex;
    position: absolute;
    transform: translateY(-8px) translateX(-20px);
    background:  rgba(229, 245, 250, 1);
}

.ocardclipcontainer {
    display: flex;
    flex-direction: row;
}

.oclip{
    width: 0.9rem;
    margin-top: 1rem;
    margin-left: 50%;
}

.ologo{
    width: 2.5rem;
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.olomanzana{
    width: 2rem;
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.ocardmonto{
    font-family: "SfMedium";
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.ocardfecha{
    font-size: 1rem;
    margin-top: 0.3rem;
}

.ocardtitulo{
    font-family: "Ligth";
    font-size: 1rem;
    margin-top: 0rem;
}