.o-contenidos {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 80%;
    height: 59rem;
    background: #FFFFFF;
}

.o-container-invoices-title {
    margin-right: 5rem;
}

.o-container-first {
    display: flex;
    flex-direction: row;
}

.o-title-invoices {
    margin-left: 3rem;
}

.o-container-invoices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.o-invoice {
    margin-left: 3rem;
}

.o-outstanding-container-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.o-container-search-icon {
    padding: 4rem;
}

.o-container-second {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
}

.o-container-title-profits {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}

.o-img-grafica {
    width: 30rem;
}

.o-container-expenses {
    display: flex;
    flex-direction: column;
}

.o-container-title-expenses {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.o-card-expenses {
    position: relative;
    box-sizing: border-box;
    width: 245px;
    height: 338px;
    padding: 20px;
    border-radius: 10px;
    margin: 1rem;
    margin-top: 0;
    background: #FBFBFB;
}

.o-card-expenses svg {
    display: flex;
    position: absolute;
    transform: translateY(68px) translateX(-38px);
    background: none;
}



.o-container-cards-expenses {
    display: flex;
    flex-direction: row;
}

.o-container-third {
    display: flex;
    flex-direction: row;
}

.o-container-recenly-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.o-recently-logos {
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
    margin-right: 2rem;
}

.o-container-new-recenly {
    display: flex;
    flex-direction: row;
}

.o-recenly-invoice {
    position: relative;
    box-sizing: border-box;
    width: 210px;
    height: 210px;
    padding: 10px;
    border-radius: 20px;
    margin: 1rem;
    margin-top: 0;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.o-upload-box {
    margin: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 20px;
    border: 0.17em dashed #C8C8C8;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.o-container-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.o-numbers-invoice {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}

.o-linea {
    height: 60px;
    width: 2px;
    background-color: #FB9601;
    margin-right: 1rem;
}

.o-separador {
    height: 1px;
    width: 150px;
    background-color: #EBEBEB;
    position: absolute;
    margin-top: 5rem;
}

.o-total-invoice {
    display: flex;
    flex-direction: row;
}

.o-img-work {
    width: 26rem;
}